$active: #a9d5d8
$dark: #2d2d2d
$grey: #68686a
$white: #fff
$black: #000
html,
body
  height: 100%
  font-size: 18px
  color: $white
  &::-webkit-scrollbar
    display: none

*,
ul
  margin: 0
  padding: 0
  box-sizing: border-box

ul
  list-style-type: none

a
  color: inherit
  &:hover
    color: $active

.active-link
  color: $active

.wrapper
  overflow: hidden
  height: 100%

.main
  height: 100%

.section
  height: 100%
  overflow: hidden
  position: relative
  &__img
    width: 100%

.container
  padding: 0 6.25%

.button
  background-color: transparent
  color: $white
  cursor: pointer
  border: 1px solid $white
  display: inline-block
  text-transform: uppercase
  &:hover
    color: $grey
    border-color: $grey

.active-button
  color: $grey
  border-color: $grey

.logo
  text-transform: uppercase
  font-size: 16px
  line-height: .7rem
  letter-spacing: .22rem
  cursor: pointer
  &__span
    text-transform: lowercase
    font-size: 12px
    color: $grey
    letter-spacing: -.02rem

.info
  position: absolute
  top: 17%
  right: 17.2%
  padding: 0 40px
  display: flex
  align-items: center
  max-width: 630px
  height: 630px
  background-color: rgba(45, 45, 45, .6)
  &__main
    &__h2
      font-size: 70px
      color: $white
    &__p
      margin: 15px 0 40px
    &__button
      width: 250px
      height: 65px
      line-height: 65px
      text-align: center
      background-color: $grey
      margin-left: auto
      text-transform: uppercase
      display: block

.fixed-nav
  position: fixed
  top: calc(50% - 177px)
  right: 0
  &__li
    display: block
    text-align: center
    margin-bottom: 1px
    background-color: $black
    width: 50px
    height: 50px
    line-height: 50px
    cursor: pointer
    &--social
      margin: 0
      background-color: $white
      color: $black
