$active: #a9d5d8
$dark: #2d2d2d
$grey: #68686a
$white: #fff
$black: #000
html,
body
  height: 100%
  font-size: 18px
  color: $white
  &::-webkit-scrollbar
    display: none

.active-link
  color: $active

.wrapper
  overflow: hidden
  height: 100%

.main
  height: 100%

.section
  height: 100%
  overflow: hidden
  position: relative
  &__img
    width: 100%

.logo
  text-transform: uppercase
  font-size: 16px
  line-height: .7rem
  letter-spacing: .22rem
  cursor: pointer
  &__span
    text-transform: lowercase
    font-size: 12px
    color: $grey
    letter-spacing: -.02rem

.info
  position: absolute
  top: 17%
  right: 17.2%
  padding: 0 40px
  display: flex
  align-items: center
  max-width: 630px
  height: 630px
  background-color: rgba(45, 45, 45, .6)

.fixed-nav
  position: fixed
  top: calc(50% - 177px)
  right: 0
  &__li
    display: block
    text-align: center
    margin-bottom: 1px
    background-color: $black
    width: 50px
    height: 50px
    line-height: 50px
    cursor: pointer
    &--social
      margin: 0
      background-color: $white
      color: $black
