$active: #a9d5d8
$dark: #2d2d2d
$grey: #68686a
$white: #fff
$black: #000
html,
body
  height: 100%
  font-size: 18px
  color: $white
  &::-webkit-scrollbar
    display: none

.logo
  font-size: 16px
  line-height: .7rem
  letter-spacing: .22rem
  cursor: pointer
  &__span
    font-size: 12px
    color: $grey
    letter-spacing: -.02rem

.info
  top: 17%
  right: 17.2%
  padding: 0 40px
  max-width: 630px
  height: 630px
  background-color: rgba(45, 45, 45, .6)

.fixed-nav
  &__li
    margin-bottom: 1px
    width: 50px
    height: 50px
    line-height: 50px
    cursor: pointer
    &--social
      color: $black
