.content
  &__img
    object-fit: cover
    transition: opacity .4s

.buttons-container
  bottom: 30px
  margin: auto
  background-color: transparent
  border: 2px solid $white

.slider__control
  top: calc(50% - 17px)
  color: $white
  &--left
    left: 50px
  &--right
    right: 50px
